{% extends 'basic.html' %}
{% load static %}

{% block content %}


    <section style="margin-bottom: 40px">
        <div class="lgx-banner lgx-banner-inner" style="background: url({% static 'img/inner-activities.jpg' %})">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">Активности</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Главная</a></li>
                                    <li class="active">Активности</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>

    <section >
        <div class="auto-container">
            <section class="news-section alternate">
                <div class="container">
                    <div class="row">
                    {% for activity in activities %}
                     <div class="news-block col-lg-6 col-md-6 col-sm-12 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="{{ activity.image.url }}" alt=""></figure>
                                </div>
                                <div class="lower-content">

                                    <h4>{{ activity.name }}</h4>
                                    {{ activity.text|safe }}
                                </div>
                            </div>
                        </div>


                    {% endfor %}





                    </div>


                </div>
            </section>

        </div>
    </section>



{%  endblock %}
