{% extends 'basic.html' %}
{% load static %}
{% block content %}
       <section style="margin-bottom: 40px">
        <div class="lgx-banner lgx-banner-inner" style="background: url({% static 'img/inner-becomespeaker.jpg' %})">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">Стать участником</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Главная</a></li>
                                    <li class="active">Стать участником</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <section style="margin-bottom: 40px" class="faq-section">
        <div class="container">

                <div style="text-align: start; margin-bottom: 20px" class="lgx-heading">
                                            <h2 class="heading">Стать участником</h2>
{#                                            <h3 class="subheading">Ответы на вопросы</h3>#}

                                        </div>


    <h3 class="subheading">Что дает статус участника фестиваля?</h3>
<p>Каждый участник получает возможность продавать именные билеты на фестиваль и получать за это деньги: в этом году это 500 рублей донатом с каждого проданного билета.
Популярным стримерам и подкастерам, заинтересованным в общении с публикой, на фестивале предоставляются оборудованные стрим-позиции для выхода в эфир и комфортного интерактива с аудиторией в зале (в том числе в звукоизолированных зонах).
Все участники получают два приглашения (для себя и друга) на первую торжественную церемонию Streamfest Awards вечером 25-го июля и афтепати Стримфеста вечером 26-го июля.
Каждого участника мы представляем коммерческим партнерам фестиваля, которые могут предложить ему специальные активности на Стримфесте за дополнительное вознаграждение. </p>
<h3 class="subheading">Я стример или подкастер, как мне стать участником фестиваля? </h3>
<p>Проверьте, соответствуете ли вы критериям участия (о них ниже), и напишите организаторам в VK или на mike@streamfest.ru.
При формировании списка участников Стримфеста 2020 мы исходим из следующих принципов:

Паритетность: игровые стримы значительно популярнее других эфирных направлений, поэтому критерии участия для геймеров и не-геймеров разнятся. Если за последний год больше половины эфирного времени стримера была посвящена видеоиграм, то с точки зрения Стримфеста это игровой стример.
Разнообразие: мы стремимся, чтобы на фестивале были представлены основные стримерские платформы и тематики.
     </p>
 <p>Важное следствие: если у нас получится переизбыток регистраций стримеров какого-либо эфирного направления, регистрация новых участников в данной тематике стримов будет закрыта. То же касается и стрим-платформ в целом.
Инициатива на стороне стримеров: Стримфест НЕ практикует приглашение участников. Даже самые популярные стримеры не должны дожидаться формального «приглашения на Стримфест». При этом мы активно работаем на прием заявок и отвечаем очень быстро.
Регулярность и опытность: стрим-канал заявителя должен существовать дольше 6 месяцев, а стримы на нем должны проходить не реже 3 раз в неделю. Это общее требование для всех заявителей.

Отсутствие накруток: заявитель не должен применять ботов для улучшения своей статистики. Мы выявляем «накрутчиков» с помощью различных сервисов и ручного контент-анализа, а также оцениваем спорных кандидатов совместно с менеджерами стрим-платформ. Если участник использует ботов, и это доказано, это может стать основанием для исключения из списка уже зарегистрированного участника.

Закрытый список платформ: в этом году участниками фестиваля могут стать стримеры следующих платформ: Twitch.tv, YouTube, Mixer, VK, OK, WASD, Goodgame, Instagram. Заявитель должен выбрать один канал, с которым он заявляется на Стримфест. Показатели каналов с разных платформ не суммируются.

Специальные гости: организаторы оставляют за собой право аккредитовать на фестиваль несколько специальных гостей Стримфеста, не обязательно соответствующих общим требованиям.
</p>



            <div class="row clearfix">

                <div class="content-column col-lg-6 col-md-12 col-sm-12">

                    <div class="inner-column">
                             {% for faq in left_faqs %}


                            <div class="panel panel-default">
                                <!-- Заголовок 1 панели -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ faq.id }}"> {{ faq.question }}</a>
                                    </h4>
                                </div>
                                <div id="collapse{{ faq.id }}" class="panel-collapse collapse ">
                                    <!-- Содержимое 1 панели -->
                                    <div class="panel-body">
                                          {{ faq.answer | safe }}
                                    </div>
                                </div>
                            </div>


                        {% endfor %}
                    </div>
                </div>
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                             {% for faq in right_faqs %}


                            <div class="panel panel-default">
                                <!-- Заголовок 1 панели -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ faq.id }}"> {{ faq.question }}</a>
                                    </h4>
                                </div>
                                <div id="collapse{{ faq.id }}" class="panel-collapse collapse ">
                                    <!-- Содержимое 1 панели -->
                                    <div class="panel-body">
                                          {{ faq.answer | safe }}
                                    </div>
                                </div>
                            </div>


                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{%  endblock %}
