{% extends 'basic.html' %}
{% load static %}

{% block content %}


    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/vhod-1.jpg' %});">
        <div class="auto-container">
            <h1>ТЕХНОПАРК «СКОЛКОВО»</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Главная</a></li>
                <li>Контакты</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->



    <!-- Contact Page Section -->
    <section class="contact-page-section">
        <div class="auto-container">
            <section class="map-section">
                <div class="auto-container">
                    <div class="map-outer">
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A02f79490145bc8c3e217841b2604d825f0efd34665a4567f8e8d01cf2a4a7050&amp;width=1180&amp;height=500&amp;lang=ru_RU&amp;scroll=true%22%3E"></script>
                    </div>
                </div>
            </section>
            <div class="row clearfix">
                <!-- Map Section -->

                <!-- End Map Section -->
                <div class="info-column col-lg-9 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title style-two">
                            {#                            <span class="title">Как и на чем </span>#}
                            <h2>Как добраться</h2>
                        </div>

                        <div class="event-info-tabs tabs-box">
                            <!--Tabs Box-->
                            <ul class="tab-buttons clearfix">
                                <li class="tab-btn active-btn" data-tab="#tab1">МЕТРО</li>
                                <li class="tab-btn " data-tab="#tab5">АВТОБУС</li>
                                <li class="tab-btn" data-tab="#tab2">ТАКСИ</li>
                                <li class="tab-btn" data-tab="#tab3">СВОЕ АВТО</li>
                                <li class="tab-btn" data-tab="#tab4">КАРШЕРИНГ</li>
                            </ul>

                            <div class="tabs-content">
                                <!--Tab-->
                                <div class="tab active-tab" id="tab1">
                                    <p>Доехать до Сколково можно на электропоезде по направлению МЦД-1 (Одинцово-Лобня), на станцию «Инновационный центр Сколково».</p>
                                    <p>Пересадка на МЦД-1 осуществялется с станции метро Белорусская. Стоимость билета 45р по карте "Тройка".</p>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="tab2">
                                    <p>Вызывайте Яндекс.Такси или Uber — только они могут проезжать на территорию Сколково.</p>
                                    <p> Все остальные такси остановят у шлагбаума на КПП, и вам придется идти пешком.</p>
                                    <p>Такси нужно вызывать на адрес "Парковка Технопарк Сколково".</p>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="tab3">
                                    <p>До Сколково можно доехать по Минскому, Можайскому и Сколковскому шоссе и оставить машину на одной из двух парковок: Технопарк или парковке Сколковская.</p>
                                    <p> ВАЖНО: в навигаторе вбивайте адрес Парковка Технопарк Сколково.</p>

                                    <p>На всех парковках первые два часа бесплатно, а дальше — 50 рублей/час.</p>
                                </div>
                                <div class="tab" id="tab4">
                                    <p>Запарковать машину прямо перед зданием нельзя — вас не пустят на территорию. На парковке «Амальтея» парковаться нельзя.</p>
                                    <p>В Сколково нельзя завершить аренду машин от «Яндекс.Драйв», Anytime, МатрёшCar — их можно только поставить на ожидание!</p>
                                    <pКак проехать - смотрите "На машине".></p>
                                </div>
                                <div class="tab" id="tab5">
                                    <p> На автобусе 867 от станции метро Кунцевская до остановки "Сколково" (время в пути ~ 30мин)</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-column col-lg-3 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>Контакты</h2>
                        </div>
                        <ul class="contact-info">
                            <li>
                                <span class="icon fa fa-map-marker-alt"></span>
                                <p><strong>Москва, Большой бульвар,</strong></p>
                                <p> д. 42, стр. 1</p>
                            </li>

                            <li>
                                <span class="icon fa fa-phone-volume"></span>
                                <p><strong>Call Us</strong></p>
                                <p>+321 4567 89 012 & 79 023</p>
                            </li>
                            <li>
                                <span class="icon fa fa-phone-volume"></span>
                                <p><strong>Call Us</strong></p>
                                <p>+321 4567 89 012 & 79 023</p>
                            </li>

                            <li>
                                <span class="icon fa fa-envelope"></span>
                                <p><strong>Mail Us</strong></p>
                                <p><a href="mailto:support@example.com">Support@example.com</a></p>
                            </li>

                            <li>
                                <span class="icon fa fa-clock"></span>
                                <p><strong>Opening Time</strong></p>
                                <p>Mon - Sat: 09.00am to 18.00pm</p>
                            </li>
                        </ul>

                        <ul class="social-icon-two social-icon-colored">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Form Column -->

            </div>
            <div class="row">
                <div class="form-column col-lg-9 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="contact-form">
                            <div class="sec-title">
                                <h2>Есть вопрос? Напишите нам!</h2>
                            </div>
                            <form method="post" action="sendemail.php" id="contact-form">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="username" placeholder="Имя" required="">
                                    </div>



                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="email" name="email" placeholder="Email" required="">
                                    </div>



                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea name="message" placeholder="Сообщение"></textarea>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">Отправить</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Contact Page Section -->



{%  endblock %}






