{% extends 'basic.html' %}
{% load static %}

{% block content %}



    <!--BANNER-->
    <section >
        <div class="lgx-banner lgx-banner2">
            <div  style="position: absolute; "><video class="video-bg" autoplay muted loop id="myVideo">
                <source src="{% static 'bg.mp4' %}" type="video/mp4">

            </video></div>
            <div class="lgx-banner-style">
                <div class="lgx-inner lgx-inner-fixed">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="lgx-banner-info-area">
                                    <div class="lgx-banner-info-date">
                                        <h3 class="date"> <b class="lgx-counter">10</b> <span>Август</span></h3>
                                        <h3 class="location"><i class="fa fa-map-marker"></i> Технопарк "Сколково"</h3>
                                    </div>
                                    <div class="lgx-banner-info lgx-banner-info-xscenter"> <!--lgx-banner-info-center lgx-banner-info-black lgx-banner-info-big lgx-banner-info-bg--> <!--banner-info-margin-->
                                        <div class="lgx-countdown-area">
                                            <!-- Date Format :"Y/m/d" || For Example: 1017/10/5  -->
                                            <div id="lgx-countdown" data-date="2020/08/10"></div>
                                        </div>
                                        <h3 class="subtitle">Главный фестиваль лета</h3>
                                        <h2 class="title">СТРИМФЕСТ <span><b>2</b><b>0</b><b>2</b><b>0</b></span></h2>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--//.ROW-->
                    </div>
                    <!-- //.CONTAINER -->
                </div>
                <!-- //.INNER -->
            </div>
        </div>
    </section>
    <!--BANNER END-->





    <!--ABOUT-->
    <section>
        <div id="lgx-about" class="lgx-about lgx-about2" style="background: url({% static 'img/bg_1.png' %})">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class=" col-sm-12 col-md-9">
                            <div class="lgx-about-content-area">
                                <div class="lgx-heading">
                                    <h2 class="heading">Стримфест в 2020 году</h2>
                                    <h3 class="subheading">Наши изменения в связи с короновирусом</h3>
                                </div>
                                <div class="lgx-about-content">
                                    <p style="color: #fff" class="text">
                                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores aut dolore dolorum ducimus, esse, est fuga ipsam iure necessitatibus neque obcaecati perferendis quasi quisquam tempore tenetur unde veritatis! Ipsa labore molestiae pariatur quisquam ratione rerum soluta temporibus voluptatibus. Corporis expedita facere magni modi possimus quibusdam rem reprehenderit rerum vero?
                                    </p>
                                    <div class="section-btn-area">
                                        <a class="lgx-btn" href="about.html">Узнать подробнее</a>
                                        <a class="lgx-btn lgx-btn-red lgx-scroll" href="#lgx-registration">Связаться с нами</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="{% static 'img/streamfest_logo_white.png' %}" alt="">
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--ABOUT END-->
    <section>
        <div id="lgx-about" class="lgx-about">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-7">
                            <div class="lgx-about-content-area">
                                <div class="lgx-heading">
                                    <h2 class="heading">Добро пожаловать на Стримфест</h2>
                                    <h3 class="subheading">О ФЕСТИВАЛЕ</h3>
                                </div>
                                <div class="lgx-about-content">
                                    <p class="text">
                                        Стримфест — единственный в СНГ международный фестиваль стримеров и их поклонников, проходящий в партнерстве с ведущими стрим-платформами. В 2019 году состоялся в четвертый раз и впервые продолжался два дня.

                                    </p>
                                 <p>
                                     <ul>
                                    <li><img style="width: 20px;height: 20px" src="https://img.icons8.com/ultraviolet/40/000000/checked.png"/> 185 звезд веб-камеры</li>
                                    <li><img style="width: 20px;height: 20px" src="https://img.icons8.com/ultraviolet/40/000000/checked.png"/> 7200 посетителей</li>
                                    <li><img style="width: 20px;height: 20px" src="https://img.icons8.com/ultraviolet/40/000000/checked.png"/> 2 миллиона просмотров онлайн</li>
                                </ul>
                                 </p>
                                    <p class="text">
                                        Стримфест — это фестиваль комьюнити для комьюнити. Вас ждет много отличного общения с влогерами, прогеймерами, подкастерами,
                                        художниками и музыкантами, шоу-матчи на турнирной сцене, стенды с игровыми новинками, полезные мастер-классы, настольные игры и многое другое. Играйте, общайтесь, развивайтесь!

                                    </p>


{#                                    <div class="section-btn-area">#}
{#                                        <a class="lgx-btn" href="about.html"><span>More About</span></a>#}
{#                                        <a class="lgx-btn lgx-btn-red lgx-scroll" href="#buy_ticket"><span>Купить билеты</span></a>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <div class="lgx-about-img-sp">
                                <img src="{% static 'img/umage1.jpg' %}" alt="about">
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <section style="background: white;padding-bottom: 60px">
        <div class="container">

            <div style="display: grid; grid-template-columns: repeat(auto-fill,minmax(300px,1fr));grid-gap: 20px" class="sponsors-area sponsors-area-bg">
                <div class="single ">
                    <a class="" href="#"><img src="{% static 'img/1.png' %}" alt="sponsor"></a>
                    <p class="feature-text">ВСТРЕЧИ СО ЗВЕЗДАМИ TWITCH, YOUTUBE И GOODGAME</p>
                </div>
                <div class="single ">
                    <a class="" href="#"><img src="{% static 'img/2.png' %}" alt="sponsor"></a>
                    <p class="feature-text">ИГРОВЫЕ ЗОНЫ И ТУРНИРЫ С ЦЕННЫМИ ПРИЗАМИ</p>
                </div>
                <div class="single ">
                    <a class="" href="#"><img src="{% static 'img/3.png' %}" alt="sponsor"></a>
                    <p class="feature-text">ЗВЁЗДЫ КОСПЛЕЯ И ИНТЕРАКТИВНАЯ ТАНЦ-ПЛОЩАДКА</p>
                </div>

                <div class="single">
                    <a class="" href="#"><img src="{% static 'img/4.png' %}" alt="sponsor"></a>
                    <p class="feature-text">ШОУ-МАТЧИ, ВИКТОРИНЫ И ПРЕЗЕНТАЦИИ ВИДЕОИГР</p>
                </div>
                <div class="single">
                    <a class="" href="#"><img src="{% static 'img/5.png' %}" alt="sponsor"></a>
                    <p class="feature-text">ПОДВИЖНЫЕ РАЗВЛЕЧЕНИЯ И ЗОНА НАСТОЛЬНЫХ ИГР</p>
                </div>
                <div class="single">
                    <a class="" href="#"><img src="{% static 'img/6.png' %}" alt="sponsor"></a>
                    <p class="feature-text">МАСТЕР-КЛАССЫ И ЛЕКЦИИ О ТЕХНОЛОГИЯХ И НАУКЕ</p>
                </div>
            </div>


        </div>

    </section>


    <section>
        <div id="lgx-speakers" class="lgx-speakers lgx-speakers2">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading lgx-heading-white">
                                <h2 class="heading">Кто будет</h2>
                                <h3 class="subheading">Участники Стримфеста 2021</h3>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                    <div class="row">
                        <div class="col-xs-12">
                            {% for speaker in allSpeakers %}
                                <div class="lgx-col4 lgx-single-speaker2">
                                    <figure>
                                        <a class="profile-img" href="{% url 'speaker' speaker.nickNameSlug %}"><img src="{{ speaker.photo.url }}" alt="speaker"></a>
                                        <figcaption>
                                            {#                                        <div class="social-group">#}
                                            {#                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>#}
                                            {#                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>#}
                                            {#                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>#}
                                            {#                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>#}
                                            {#                                        </div>#}
                                            <div class="speaker-info">
                                                <h3 class="title"><a href="{% url 'speaker' speaker.nickNameSlug %}">{{speaker.nickName}}</a></h3>
                                                <h4 class="subtitle">{{ speaker.name }}</h4>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--//.ROW-->
                <div class="section-btn-area">
                    <a class="lgx-btn lgx-btn-big" href="{% url 'all_speakers' %}"><span>Все участники</span></a>
                    <a class="lgx-btn lgx-btn-red lgx-btn-big" href="{% url 'apply' %}"><span>Стать участником</span></a>
                </div>
            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER -->
        </div>
    </section>


    <section>
        <div id="buy_ticket" class="lgx-registration lgx-registration4"> <!--lgx-registration2 lgx-registration3 lgx-registration4-->
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-9 col-xs-offset-1">
                            <div class="lgx-registration-area lgx-registration-area-nogap lgx-registration-area3"> <!-- lgx-registration-area-nogap lgx-registration-area2 lgx-registration-area3 -->
                                <div class="lgx-single-registration">
                                    <div class="lgx-single-registration-inner">
                                        <div class="single-top">
                                            <h3 class="title">1 день</h3>
                                            <h4 style="font-size: 50px;margin-top: -20px;" class="price">1300<span style="font-size: 40px; color: white;font-weight: 700">₽</span></h4>
                                        </div>
                                        <div class="single-bottom">
                                            <ul class="list-unstyled list">
                                                <li>25 или 26 апреля</li>
                                                <li>Все стенды</li>
                                                <li>Хайп, веселье и конкурсы</li>
                                                <li>Два дня</li>
                                            </ul>

                                            <a href="{% url 'order' oneDayTicket.article %}" class="lgx-btn"><span>Купить билет</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="lgx-single-registration recommended">
                                    <div class="lgx-single-registration-inner">
                                        <div class="single-top">
                                            <h3 class="title">2 дня</h3>
                                            <h4 style="font-size: 50px;margin-top: -20px;" class="price">2100<span style="font-size: 40px;color: white;font-weight: 700">₽</span></h4>
                                        </div>
                                        <div class="single-bottom">
                                            <ul class="list-unstyled list">
                                                <li>В 2 раза больше веселья</li>
                                                <li>Все стенды</li>
                                                <li>Хайп, веселье и конкурсы</li>
                                                <li>Два дня</li>
                                            </ul>
                                            <a href="{% url 'order' twoDayTicket.article %}" class="lgx-btn"><span >Купить билет</span></a>
                                        </div>
                                    </div>
                                </div>
                                {#
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>


    <section>
        <div id="lgx-milestone-about" class="lgx-milestone-about">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="lgx-milestone-area">
                                <div class="lgx-milestone">
                                    <div class="milestone-inner">
                                        <div class="lgx-content">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="lgx-counter-area">
                                                        <img src="{% static 'img/icons/2.png' %}" alt="teacher icon">
                                                        <div class="counter-text">
                                                            <span class="lgx-counter">185</span>
                                                            <small>Звезд веб-камеры</small>
                                                        </div>
                                                    </div>
                                                </div> <!--//.COL-->
                                                <div class="col-sm-3">
                                                    <div class="lgx-counter-area">
                                                        <img src="{% static 'img/icons/3.png' %}" alt="teacher icon">
                                                        <div class="counter-text">
                                                            <span class="lgx-counter">7200</span>
                                                            <small>Посетителей</small>
                                                        </div>
                                                    </div>
                                                </div> <!--//.COL-->
                                                <div class="col-sm-3">
                                                    <div class="lgx-counter-area">
                                                        <img src="{% static 'img/vision2.png' %}" alt="teacher icon">
                                                        <div class="counter-text">
                                                            <span class="lgx-counter">2000000</span>
                                                            <small>Просмотров онлайн</small>
                                                        </div>
                                                    </div>
                                                </div> <!--//.COL-->
                                                <div class="col-sm-3">
                                                    <div class="lgx-counter-area">
                                                        <img src="{% static 'img/icons/1.png' %}" alt="teacher icon">
                                                        <div class="counter-text">
                                                            <span class="lgx-counter">2</span>
                                                            <small>Дня</small>
                                                        </div>
                                                    </div>
                                                </div> <!--//.COL-->
                                            </div> <!--//.ROW-->
                                        </div> <!--//. lgx CONTENT CONTENT-->
                                    </div><!--//.lgx INNER-->
                                </div><!--//.Milestone End -->
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>


    <!--TESTIMONIALS -->
    <section>
        <div id="lgx-testimonial" class="lgx-testimonial">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading">
                                <h2 class="heading">Отзывы о нас</h2>
                                <h3 class="subheading"></h3>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                    <div class="row">
                        <div id="lgx-owltestimonial" class="lgx-owltestimonial lgx-owlnews">

                            <div class="item">
                                <!--Testimonial-single-->
                                <blockquote class="lgx-testi-single">
                                    <p><span>Ясность нашей позиции очевидна</span>
                                        Реализация намеченных плановых заданий однозначно фиксирует необходимость поэтапного и последовательного развития общества. Идейные соображения высшего порядка, а также высокое качество позиционных исследований говорит о возможностях системы массового участия.
                                    </p>
                                    <div class="author">
                                        <img src="{% static 'img/testimonials/author1.jpg' %}" alt="author">
                                        <h4 class="title"><a href="#"></a>Иван петров</h4>

                                    </div>
                                </blockquote> <!--//.Testimonial-single-->
                            </div> <!--//.Item-->
                            <div class="item">
                                <!--Testimonial-single-->
                                <blockquote class="lgx-testi-single">
                                    <p><span> Являясь всего лишь частью общей картины</span>
                                        Явные признаки победы институционализации, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут разоблачены. Внезапно, сторонники тоталитаризма в науке будут объединены в целые кластеры себе подобных.
                                    </p>
                                    <div class="author">
                                        <img src="{% static 'img/testimonials/author1.jpg' %}" alt="author">
                                        <h4 class="title"><a href="#"></a>МИКРОБ</h4>

                                    </div>
                                </blockquote> <!--//.Testimonial-single-->
                            </div> <!--//.Item-->

                        </div><!--l//#lgx-OWL NEWS-->
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--TESTIMONIALS END-->





    <!--ABOUT-->
    <section>
        <div id="lgx-about" class="lgx-about lgx-about3">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="lgx-about-video">
                            <iframe style="width: 100%" src="https://player.vimeo.com/video/348364566?color=00fff2" width="100%" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="lgx-about-content-area">
                                <div class="lgx-heading">
                                    <h2 class="heading">Все о Стримфест 2019</h2>
                                    <h3 class="subheading">Как это было</h3>
                                </div>
                                <div class="lgx-about-content">
                                    <p class="text">
                                        Стрифест - фестиваль сообщества. В 2019 году он прошел с огромным успехом. Мы собрали в Технопарке "Сколково" 185 звезд веб-камеры, 7200 посетителей и целых 2 миллиона просмотров онлайн! Суммарно мы организовали десятки стримпозиций, чтобы участники могли одновременно работать на аудиторию в сети и на площадке. Мы растем с каждым годом, и в 2021-м усилим фестивальный уикэнд первой в шоу-церемонией Streamfest Awards.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--ABOUT END-->
    <!--gall start-->
    <section style="background: #ffffff;padding-bottom: 40px">
    <div class="container">
       <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-gallery-area">
                                <div class="lgx-gallery-single">
                                    <figure>
                                        <img title="Memories One" src="{% static 'gallery/2019_main_1.jpg' %}" alt="Memories one">
                                        <figcaption class="lgx-figcaption">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">
                                                    <a title="Memories One" href="{% static 'gallery/2019_main_1.jpg' %}">
                                                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div> <!--Single photo-->
                                <div class="lgx-gallery-single">
                                    <figure>
                                        <img src="{% static 'gallery/2019_main_7.jpg' %}" alt="Memories Two" title="Memories Two">
                                        <figcaption class="lgx-figcaption">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">
                                                    <a title="Memories Two" href="{% static 'gallery/2019_main_7.jpg' %}">
                                                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>  <!--Single photo-->
                                <div class="lgx-gallery-single">
                                    <figure>
                                        <img src="{% static 'gallery/2019_main_3.jpg' %}" alt="Memories Three" title="Memories Three">
                                        <figcaption class="lgx-figcaption">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">
                                                    <a title="Memories Three" href="{% static 'gallery/2019_main_3.jpg' %}">
                                                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div> <!--Single photo-->
                                <div class="lgx-gallery-single">
                                    <figure>
                                        <img src="{% static 'gallery/2019_main_8.jpg' %}" alt="Memories Four" title="Memories Four">
                                        <figcaption class="lgx-figcaption">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">
                                                    <a title="Memories Four" href="{% static 'gallery/2019_main_8.jpg' %}">
                                                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div> <!--Single photo-->
                                <div class="lgx-gallery-single">
                                    <figure>
                                        <img src="{% static 'gallery/2019_main_5.jpg' %}" alt="Memories Five" title="Memories Five">
                                        <figcaption class="lgx-figcaption">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">
                                                    <a title="Memories Five" href="{% static 'gallery/2019_main_5.jpg' %}">
                                                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div> <!--Single photo-->
                                <div class="lgx-gallery-single">
                                    <figure>
                                        <img src="{% static 'gallery/2019_main_6.jpg' %}" alt="Memories Six" title="Memories Six">
                                        <figcaption class="lgx-figcaption">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">
                                                    <a title="Memories Six" href="{% static 'gallery/2019_main_6.jpg' %}">
                                                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div> <!--Single photo-->

                            </div>
                        </div>
                    </div>
         <div class="section-btn-area sponsor-btn-area">
                            <a class="lgx-btn" href="#">Больше фото</a>
                        </div>
    </div>

    </section>
    <!--gall END-->


    <!--SPONSORED-->
    <section>
        <div id="lgx-sponsors" class="lgx-sponsors lgx-sponsors-black">
            <div class="lgx-inner-bg">
                <div class="lgx-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">Offcial Sponsonrs</h2>
                                    <h3 class="subheading">Welcome to the dedicated to building remarkable Sponsores!</h3>
                                </div>
                            </div>
                        </div>
                        <!--//main row-->
                        <div class="row">
                            <div class="col-xs-12">
                                <div style="display: grid; grid-template-columns: repeat(auto-fill,minmax(300px,1fr));grid-gap: 20px" class="sponsors-area sponsors-area-colorfull-border">
                                    <div class="single">
                                        <a class="" href="#"><img src="{% static 'img/sponsors/sponsor-sp3.png' %}" alt="sponsor"/></a>
                                    </div>
                                    <div class="single">
                                        <a class="" href="#"><img src="{% static 'img/sponsors/sponsor-sp3.png' %}" alt="sponsor"/></a>
                                    </div>
                                    <div class="single">
                                        <a class="" href="#"><img src="{% static 'img/sponsors/sponsor-sp3.png' %}" alt="sponsor"/></a>
                                    </div>
                                    <div class="single">
                                        <a class="" href="#"><img src="{% static 'img/sponsors/sponsor-sp3.png' %}" alt="sponsor"/></a>
                                    </div>
                                    <div class="single">
                                        <a class="" href="#"><img src="{% static 'img/sponsors/sponsor-sp3.png' %}" alt="sponsor"/></a>
                                    </div>
                                    <div class="single">
                                        <a class="" href="#"><img src="{% static 'img/sponsors/sponsor-sp3.png' %}" alt="sponsor"/></a>
                                    </div>
                                    <div class="single">
                                        <a class="" href="#"><img src="{% static 'img/sponsors/sponsor-sp3.png' %}" alt="sponsor"/></a>
                                    </div>
                                </div>
                            </div>
                            <!--//col-->
                        </div>
                        <div class="section-btn-area sponsor-btn-area">
                            <a class="lgx-btn" href="#">Become A Sponsor</a>
                        </div>
                    </div>
                    <!--//container-->
                </div>
            </div>
            <!--//lgx-inner-->
        </div>
    </section>
    <!--SPONSORED END-->


    {% if set.showTwitch %}
        <section class="video-translate">
            <div class="auto-container">
                <div style="margin-bottom: 40px" class="sec-title light ">

                    <h2 style="font-size: 32px"> <span style="margin-right: 20px;" class="icon fab fa-twitch"></span>Наша Online трансляция</h2>
                </div>
                <div  id="twitch-embed"></div>



            </div>
        </section>
    {% endif %}





    <script>
        function closeMenu() {
            document.getElementsByClassName('mobile-menu-visible')[0].classList.remove('mobile-menu-visible')
        }
    </script>

{%  endblock %}
{% if set.showTwitch %}
    {% block js %}
        <script src="https://embed.twitch.tv/embed/v1.js"></script>

        <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
        <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
                width: '100%',
                height: 480,
                channel: "Streamfest"
            });
        </script>
    {% endblock %}
{% endif %}