{% extends 'basic.html' %}
{% load static %}

{% block content %}



    <!--BANNER-->
    <section>
        <div id="lgx-parallax-banner" class="lgx-banner lgx-banner-parallax"> <!--lgx-about-bottom-->
            <div class="lgx-section">
                <div id="layer-wrapper" class="lgx-item-parallax-banner">

                    <div id="object1" class="bglayer1 hidden-sm hidden-xs">
                        <img src="{% static 'img/parallax/3.png' %}" alt="">
                    </div>
                    <div id="object5" class="rightlayer1 hidden-sm hidden-xs">
                        <img src="{% static 'img/parallax/4.png' %}" alt="">
                    </div>
                    <div id="object2" class="bglayer2 hidden-sm hidden-xs">
                        <img src="{% static 'img/parallax/5.png' %}" alt="">
                    </div>
                    <div id="object6" class="rightlayer2shade hidden-sm hidden-xs">
                        <img src="{% static 'img/parallax/7.png' %}" alt="">
                    </div>
                    <div id="object7" class="rightlayer2 hidden-sm hidden-xs">
                        <img src="{% static 'img/parallax/6.png' %}" alt="">
                    </div>

                    <div class="banner-content">
                        <div class="lgx-hover-link">
                            <div class="lgx-vertical">
                                <div class="lgx-banner-info lgx-banner-info-center"> <!--lgx-banner-info-center lgx-banner-info-black lgx-banner-info-big lgx-banner-info-bg--> <!--banner-info-margin-->
                                    <div class="lgx-countdown-area">
                                        <!-- Date Format :"Y/m/d" || For Example: 1017/10/5  -->
                                        <div id="lgx-countdown" data-date="2019/12/15"></div>
                                    </div>
                                    <h2 class="title">Conference <span><b>2</b><b>0</b><b>1</b><b>9</b></span></h2>
                                    <h3 class="location"><i class="fa fa-map-marker"></i> 21 King Street, Dhaka 1205, Bangladesh.</h3>
                                    <h3 class="date"><i class="fa fa-calendar"></i> 23-27 September, 2018</h3>
                                    <div class="action-area">
                                        <div class="lgx-video-area">
                                            <a class="lgx-btn lgx-btn-red" href="#">Buy Ticket Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- //.INNER -->
        </div>
    </section>
    <!--BANNER END-->





    <!--ABOUT-->
    <section>
        <div id="lgx-about" class="lgx-about lgx-about2">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-5 col-sm-12 col-md-7">
                            <div class="lgx-about-content-area">
                                <div class="lgx-heading">
                                    <h2 class="heading">Стримфест в 2020 году</h2>
                                    <h3 class="subheading">Наши изменения в связи с короновирусом</h3>
                                </div>
                                <div class="lgx-about-content">
                                    <p class="text">
                                        Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris Eonec eu ribero sit amet quam egestas semper. Aenean are ultricies mi senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae vitae.
                                    </p>
                                    <div class="section-btn-area">
                                        <a class="lgx-btn" href="about.html">Узнать подробнее</a>
                                        <a class="lgx-btn lgx-btn-red lgx-scroll" href="#lgx-registration">Связаться с нами</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--ABOUT END-->
    <section>
        <div id="lgx-about" class="lgx-about">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-7">
                            <div class="lgx-about-content-area">
                                <div class="lgx-heading">
                                    <h2 class="heading">Happy New Year 2019</h2>
                                    <h3 class="subheading">Do not miss the upcoming event, Who should attend?</h3>
                                </div>
                                <div class="lgx-about-content">
                                    <p class="text">
                                        Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, tristique senectus et netus et malesuada fames ac turpis egestas ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris Eonec eu ribero sit amet quam egestas semper. Aenean are ultricies mi senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae vitae fames ac turpis egestas.
                                    </p>
                                    <div class="about-date-area">
                                        <h4 class="date"><span>29</span></h4>
                                        <p><span>November 2019</span> King Street, Dhaka, Bangladesh</p>
                                    </div>

                                    <div class="section-btn-area">
                                        <a class="lgx-btn" href="about.html"><span>More About</span></a>
                                        <a class="lgx-btn lgx-btn-red lgx-scroll" href="#lgx-registration"><span>Buy Ticket Now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <div class="lgx-about-img-sp">
                                <img src="img/about-sp.jpg" alt="about">
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
<section style="background: white;padding-bottom: 60px">
<div class="row">
        <div class="col-xs-12">
            <div class="sponsors-area sponsors-area-bg">
                <div class="single">
                    <a class="" href="#"><img src="http://placehold.it/60" alt="sponsor"></a>
                    <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, unde!</p>
                </div>
                 <div class="single">
                    <a class="" href="#"><img src="http://placehold.it/60" alt="sponsor"></a>
                 <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, unde!</p>
                </div>
                <div class="single">
                    <a class="" href="#"><img src="http://placehold.it/60" alt="sponsor"></a>
                  <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, unde!</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
           <div class="sponsors-area sponsors-area-bg">
                <div class="single">
                    <a class="" href="#"><img src="http://placehold.it/60" alt="sponsor"></a>
                    <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, unde!</p>
                </div>
                 <div class="single">
                    <a class="" href="#"><img src="http://placehold.it/60" alt="sponsor"></a>
                 <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, unde!</p>
                </div>
                <div class="single">
                    <a class="" href="#"><img src="http://placehold.it/60" alt="sponsor"></a>
                  <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, unde!</p>
                </div>
            </div>
        </div>
    </div>
</section>


    <section>
        <div id="lgx-speakers" class="lgx-speakers lgx-speakers2">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading lgx-heading-white">
                                <h2 class="heading">Кто будет</h2>
                                <h3 class="subheading">Участники Стримфеста 2020</h3>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                    <div class="row">
                        <div class="col-xs-12">
                            {% for speaker in allSpeakers %}
                                <div class="lgx-col4 lgx-single-speaker2">
                                <figure>
                                    <a class="profile-img" href="{% url 'speaker' speaker.nickNameSlug %}"><img src="{{ speaker.photo.url }}" alt="speaker"></a>
                                    <figcaption>
{#                                        <div class="social-group">#}
{#                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>#}
{#                                            <a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a>#}
{#                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>#}
{#                                            <a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a>#}
{#                                        </div>#}
                                        <div class="speaker-info">
                                            <h3 class="title"><a href="speaker.html">{{speaker.nickName}}</a></h3>
                                            <h4 class="subtitle">{{ speaker.name }}</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--//.ROW-->
                <div class="section-btn-area">
                    <a class="lgx-btn lgx-btn-big" href="speakers.html"><span>View More Speakers</span></a>
                    <a class="lgx-btn lgx-btn-red lgx-btn-big" href="speakers.html"><span>Become A Speakers</span></a>
                </div>
            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER -->
        </div>
    </section>


    <section>
        <div id="buy_ticket" class="lgx-registration lgx-registration4"> <!--lgx-registration2 lgx-registration3 lgx-registration4-->
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-9 col-xs-offset-1">
                            <div class="lgx-registration-area lgx-registration-area-nogap lgx-registration-area3"> <!-- lgx-registration-area-nogap lgx-registration-area2 lgx-registration-area3 -->
                                <div class="lgx-single-registration">
                                    <div class="lgx-single-registration-inner">
                                        <div class="single-top">
                                            <h3 class="title">1 день</h3>
                                            <h4 style="font-size: 50px" class="price">1300 <i>P</i></h4>
                                        </div>
                                        <div class="single-bottom">
                                            <ul class="list-unstyled list">
                                                  <li>25 или 26 апреля</li>
                                                    <li>Все стенды</li>
                                                    <li>Хайп, веселье и конкурсы</li>
                                                    <li>Два дня</li>
                                            </ul>

                                              <a href="{% url 'order' oneDayTicket.article %}" class="lgx-btn"><span>Купить билет</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="lgx-single-registration recommended">
                                    <div class="lgx-single-registration-inner">
                                        <div class="single-top">
                                            <h3 class="title">2 дня</h3>
                                            <h4 style="font-size: 50px" class="price">2100 <i>Р</i></h4>
                                        </div>
                                        <div class="single-bottom">
                                            <ul class="list-unstyled list">
                                                <li>В 2 раза больше веселья</li>
                                                <li>Все стенды</li>
                                                <li>Хайп, веселье и конкурсы</li>
                                                <li>Два дня</li>
                                            </ul>
                                              <a href="{% url 'order' twoDayTicket.article %}" class="lgx-btn"><span >Купить билет</span></a>
                                        </div>
                                    </div>
                                </div>
{#
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>


    <section>
        <div id="lgx-milestone-about" class="lgx-milestone-about">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="lgx-milestone-area">
                                <div class="lgx-milestone">
                                    <div class="milestone-inner">
                                        <div class="lgx-content">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="lgx-counter-area">
                                                        <img src="{% static 'img/icons/1.png' %}" alt="teacher icon">
                                                        <div class="counter-text">
                                                            <span class="lgx-counter">185</span>
                                                            <small>Звезд веб-камеры</small>
                                                        </div>
                                                    </div>
                                                </div> <!--//.COL-->
                                                <div class="col-sm-3">
                                                    <div class="lgx-counter-area">
                                                        <img src="{% static 'img/icons/2.png' %}" alt="teacher icon">
                                                        <div class="counter-text">
                                                            <span class="lgx-counter">7200</span>
                                                            <small>Посетителей</small>
                                                        </div>
                                                    </div>
                                                </div> <!--//.COL-->
                                                <div class="col-sm-3">
                                                    <div class="lgx-counter-area">
                                                        <img src="{% static 'img/icons/3.png' %}" alt="teacher icon">
                                                        <div class="counter-text">
                                                            <span class="lgx-counter">2000000</span>
                                                            <small>Просмотров онлайн</small>
                                                        </div>
                                                    </div>
                                                </div> <!--//.COL-->
                                                <div class="col-sm-3">
                                                    <div class="lgx-counter-area">
                                                        <img src="{% static 'img/icons/4.png' %}" alt="teacher icon">
                                                        <div class="counter-text">
                                                            <span class="lgx-counter">2</span>
                                                            <small>Дня</small>
                                                        </div>
                                                    </div>
                                                </div> <!--//.COL-->
                                            </div> <!--//.ROW-->
                                        </div> <!--//. lgx CONTENT CONTENT-->
                                    </div><!--//.lgx INNER-->
                                </div><!--//.Milestone End -->
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>


    <!--TESTIMONIALS -->
    <section>
        <div id="lgx-testimonial" class="lgx-testimonial">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading">
                                <h2 class="heading">What Clients Say</h2>
                                <h3 class="subheading">Welcome to the dedicated to building remarkable Testimonials!</h3>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                    <div class="row">
                        <div id="lgx-owltestimonial" class="lgx-owltestimonial lgx-owlnews">

                            <div class="item">
                                <!--Testimonial-single-->
                                <blockquote class="lgx-testi-single">
                                    <p><span>2This is the best Event Organization in the world</span> Proin sodales dapibus magna, et porta leo convallis sed. Duis tincidunt libero ut neque mollis dignissim. Nullam ultricies sit amet quam non iaculis. Curabitur convallis nulla non nibh aliquet rhoncus. Donec at tempus felis.</p>
                                    <div class="author">
                                        <img src="assets/img/testimonials/author1.jpg" alt="author">
                                        <h4 class="title"><a href="#"></a>Jonathon Doe</h4>
                                        <div class="rate">
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </blockquote> <!--//.Testimonial-single-->
                            </div> <!--//.Item-->
                            <div class="item">
                                <!--Testimonial-single-->
                                <blockquote class="lgx-testi-single">
                                    <p><span>1This is the best Event Organization in the world</span> Proin sodales dapibus magna, et porta leo convallis sed. Duis tincidunt libero ut neque mollis dignissim. Nullam ultricies sit amet quam non iaculis. Curabitur convallis nulla non nibh aliquet rhoncus. Donec at tempus felis.</p>
                                    <div class="author">
                                        <img src="assets/img/testimonials/author1.jpg" alt="author">
                                        <h4 class="title"><a href="#"></a>Jonathon Doe</h4>
                                        <div class="rate">
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </blockquote> <!--//.Testimonial-single-->
                            </div> <!--//.Item-->

                        </div><!--l//#lgx-OWL NEWS-->
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--TESTIMONIALS END-->




    <!--VIDEO-->
    <section>
        <div id="lgx-video" class="lgx-video">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<h2 class="lgx-video-title"><span>Watch Our Promo video!</span>How to make an online order</h2>-->
                            <div class="lgx-video-area">
                                <figure>
                                    <figcaption>
                                        <div class="video-icon">
                                            <div class="lgx-vertical">
                                                <a id="myModalLabel" class="icon" href="#" data-toggle="modal" data-target="#lgx-modal">
                                                    <i class="fa fa-play " aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <!-- Modal-->
                                <div id="lgx-modal" class="modal fade lgx-modal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <iframe id="modalvideo" src="https://www.youtube.com/embed/oSPR5Go05Vg" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- //.Modal-->
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--//.VIDEO END-->



    {% if set.showTwitch %}
        <section class="video-translate">
            <div class="auto-container">
                <div style="margin-bottom: 40px" class="sec-title light ">

                    <h2 style="font-size: 32px"> <span style="margin-right: 20px;" class="icon fab fa-twitch"></span>Наша Online трансляция</h2>
                </div>
                <div  id="twitch-embed"></div>



            </div>
        </section>
    {% endif %}





    <script>
        function closeMenu() {
            document.getElementsByClassName('mobile-menu-visible')[0].classList.remove('mobile-menu-visible')
        }
    </script>

{%  endblock %}
{% if set.showTwitch %}
    {% block js %}
        <script src="https://embed.twitch.tv/embed/v1.js"></script>

        <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
        <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
                width: '100%',
                height: 480,
                channel: "Streamfest"
            });
        </script>
    {% endblock %}
{% endif %}