{% extends 'basic.html' %}
{% load static %}

{% block content %}
     <!-- Banner Section -->
    <section class="banner-section">
        <div class="banner-carousel owl-carousel owl-theme">
            {% for banner in allBanners %}
            <!-- Slide Item -->
            <div class="slide-item" style="background-image: url({{ banner.image.url }});">
                <div class="auto-container">
                    <div class="content-box">
                        <span class="title">{{ banner.smallText }}</span>
                        <h2>{{ banner.bigText }}</h2>
{#                        <ul class="info-list">#}
{#                            <li><span class="icon fa fa-chair"></span> 5000 Seats</li>#}
{#                            <li><span class="icon fa fa-user-alt"></span> 12 SPEAKERS</li>#}
{#                            <li><span class="icon fa fa-map-marker-alt"></span> Palo, California</li>#}
{#                        </ul>#}
                        <div class="btn-box"><a href="{{ banner.buttonUrl }}" class="theme-btn btn-style-two"><span class="btn-title">{{ banner.buttonText }}</span></a></div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>
    <!--End Banner Section -->



    <!-- Coming Soon -->
    <section class="coming-soon-section">
        <div class="auto-container">
            <div class="outer-box">
                <div class="time-counter"><div class="time-countdown clearfix" data-countdown="1/1/2020"></div></div>
            </div>
        </div>
    </section>
    <!-- End Coming Soon -->

       <section class="video-translate">
          <div class="auto-container">
            <div style="margin-bottom: 40px" class="sec-title light ">

                <h2> <span style="margin-right: 20px" class="icon fab fa-twitch"></span>Наша Online трансляция</h2>
            </div>
 <div  id="twitch-embed"></div>



        </div>
    </section>


    <!-- About Section -->
    <section class="about-section">
        <div class="anim-icons full-width">
            <span class="icon icon-circle-blue wow fadeIn"></span>
            <span class="icon icon-dots wow fadeInleft"></span>
            <span class="icon icon-circle-1 wow zoomIn"></span>
        </div>
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="title">ABOUT EVENT</span>
                            <h2>Welcome to the World Digital Conference 2020</h2>
                            <div class="text">Dolor sit amet consectetur elit sed do eiusmod tempor incd idunt labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.</div>
                        </div>
                        <ul class="list-style-one">
                            <li>Multiple Announcements during the event.</li>
                            <li>Logo & company details on the WordCamp.</li>
                            <li>Dedicated blog post thanking each Gold.</li>
                            <li>Acknowledgment and opening and closing.</li>
                        </ul>
                        <div class="btn-box"><a href="contact.html" class="theme-btn btn-style-three"><span class="btn-title">Register Now</span></a></div>
                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="image-box">
                        <figure class=" wow fadeIn"><img style="border-radius: 0" src="http://placehold.it/800x600" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Section -->

    <!-- Features Section Two -->
    <section class="features-section-two">
        <div class="auto-container">
            <div class="anim-icons">
                <span class="icon twist-line-1 wow zoomIn"></span>
                <span class="icon twist-line-2 wow zoomIn" data-wow-delay="1s"></span>
                <span class="icon twist-line-3 wow zoomIn" data-wow-delay="2s"></span>
            </div>

            <div class="row">
                <!-- Title Block -->
               <div class="feature-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-lecture"></span></div>
                        <h4><a href="about.html">Great Speakers</a></h4>
                        <div class="text">Dolor sit amet consectetur elit sed do eiusmod tempor incd.</div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-lecture"></span></div>
                        <h4><a href="about.html">Great Speakers</a></h4>
                        <div class="text">Dolor sit amet consectetur elit sed do eiusmod tempor incd.</div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-search"></span></div>
                        <h4><a href="about.html">Experience</a></h4>
                        <div class="text">Dolor sit amet consectetur elit sed do eiusmod tempor incd.</div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-diamond-1"></span></div>
                        <h4><a href="about.html">Networking</a></h4>
                        <div class="text">Dolor sit amet consectetur elit sed do eiusmod tempor incd.</div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-success"></span></div>
                        <h4><a href="about.html">Party</a></h4>
                        <div class="text">Dolor sit amet consectetur elit sed do eiusmod tempor incd.</div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-employee"></span></div>
                        <h4><a href="about.html">New People</a></h4>
                        <div class="text">Dolor sit amet consectetur elit sed do eiusmod tempor incd.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Features Section -->

    <!-- Speakers Section -->
    <section class="speakers-section-three">
        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="title">Speakers</span>
                <h2>Todays Performers</h2>
            </div>

            <div class="row">
                {% for speaker in allSpeakers %}
                <!-- Speaker Block -->
                    <div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="{% url 'speaker' speaker.nickNameSlug %}"><img src="{{ speaker.photo.url }}" alt=""></a></figure>
                        </div>
                        <div class="info-box">
                            <a href="{% url 'speaker' speaker.nickNameSlug %}"><h4 class="name">{{speaker.name}} </h4>
                            <span class="designation">{{ speaker.nickName }}</span></a>
                        </div>
{#                        <div class="social-box">#}
{#                            <ul class="social-links social-icon-colored">#}
{#                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>#}
{#                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>#}
{#                            </ul>#}
{#                        </div>#}
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- End Speakers Section -->

    <!-- About Section -->
    <section class="about-section">
        <div class="anim-icons full-width">
            <span class="icon icon-circle-blue wow fadeIn"></span>
            <span class="icon icon-dots wow fadeInleft"></span>
            <span class="icon icon-circle-1 wow zoomIn"></span>
        </div>
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="title">ABOUT EVENT</span>
                            <h2>Welcome to the World Digital Conference 2020</h2>
                            <div class="text">Dolor sit amet consectetur elit sed do eiusmod tempor incd idunt labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.</div>
                        </div>
                        <ul class="list-style-one">
                            <li>Multiple Announcements during the event.</li>
                            <li>Logo & company details on the WordCamp.</li>
                            <li>Dedicated blog post thanking each Gold.</li>
                            <li>Acknowledgment and opening and closing.</li>
                        </ul>
                        <div class="btn-box"><a href="contact.html" class="theme-btn btn-style-three"><span class="btn-title">Register Now</span></a></div>
                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                   <iframe src="https://player.vimeo.com/video/69250225?color=00fff2" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/69250225">Suaveciclo @ Brasilia, DF</a> from <a href="https://vimeo.com/vjsuave">VJ Suave</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                </div>
            </div>
               <div class="row">

                <!-- Gallery Item -->
                <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                    <div class="image-box">
                        <figure class="image"><img src="{% static 'images/gallery/1.jpg' %}" alt=""></figure>
                        <div class="overlay-box"><a href="{% static 'images/gallery/1.jpg' %}" class="lightbox-image" data-fancybox='gallery'><span class="icon fa fa-expand-arrows-alt"></span></a></div>
                    </div>
                </div>

                <!-- Gallery Item -->
                <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="400ms">
                    <div class="image-box">
                        <figure class="image"><img src="{% static 'images/gallery/1.jpg' %}" alt=""></figure>
                        <div class="overlay-box"><a href="{% static 'images/gallery/1.jpg' %}" class="lightbox-image" data-fancybox='gallery'><span class="icon fa fa-expand-arrows-alt"></span></a></div>
                    </div>
                </div>

                <!-- Gallery Item -->
                <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="800ms">
                    <div class="image-box">
                        <figure class="image"><img src="{% static 'images/gallery/1.jpg' %}" alt=""></figure>
                        <div class="overlay-box"><a href="{% static 'images/gallery/1.jpg' %}" class="lightbox-image" data-fancybox='gallery'><span class="icon fa fa-expand-arrows-alt"></span></a></div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--End About Section -->

   <!-- News Section -->
    <section class="news-section">
        <div class="anim-icons">
            <span class="icon icon-circle-blue wow fadeIn"></span>
            <span class="icon twist-line-1 wow zoomIn"></span>
            <span class="icon twist-line-2 wow zoomIn"></span>
            <span class="icon twist-line-3 wow zoomIn"></span>
        </div>

        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="title">Blogs</span>
                <h2>Latest News</h2>
            </div>

            <div class="row">

                <!-- News Block Three -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInRight">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="blog-single.html"><img src="{% static 'images/gallery/1.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <ul class="post-info">
                                <li><span class="far fa-user"></span> Admin</li>
                                <li><span class="far fa-comments"></span> Comment 03</li>
                            </ul>
                            <h4><a href="blog-single.html">International Conference on Art Business</a></h4>
                            <div class="btn-box"><a href="#" class="read-more">Read More</a></div>
                        </div>
                    </div>
                </div>

                <!-- News Block Three -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="blog-single.html"><img src="{% static 'images/gallery/1.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <ul class="post-info">
                                <li><span class="far fa-user"></span> Admin</li>
                                <li><span class="far fa-comments"></span> Comment 03</li>
                            </ul>
                            <h4><a href="blog-single.html">International Conference on Art Business</a></h4>
                            <div class="btn-box"><a href="#" class="read-more">Read More</a></div>
                        </div>
                    </div>
                </div>

                <!-- News Block Three -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="800ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="blog-single.html"><img src="{% static 'images/gallery/1.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <ul class="post-info">
                                <li><span class="far fa-user"></span> Admin</li>
                                <li><span class="far fa-comments"></span> Comment 03</li>
                            </ul>
                            <h4><a href="blog-single.html">International Conference on Art Business</a></h4>
                            <div class="btn-box"><a href="#" class="read-more">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End News Section -->


    <!--Clients Section-->
    <section class="clients-section">
        <div class="anim-icons">
            <span class="icon icon-dots-3 wow zoomIn"></span>
            <span class="icon icon-circle-blue wow zoomIn"></span>
        </div>
        <div class="auto-container">
            <div class="sec-title">
                <span class="title">Clients</span>
                <h2>Offcial Sponsors</h2>
            </div>

            <div class="sponsors-outer">
                <h3>Platinum Sponsors</h3>
                <div class="row">
                    <!-- Client Block -->
                    <div class="client-block col-lg-4 col-md-4 col-sm-12">
                        <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure>
                    </div>

                    <!-- Client Block -->
                    <div class="client-block col-lg-4 col-md-4 col-sm-12">
                        <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure>
                    </div>

                    <!-- Client Block -->
                    <div class="client-block col-lg-4 col-md-4 col-sm-12">
                        <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure>
                    </div>

               </div>
            </div>

            <div class="sponsors-outer">
                <h3>Gold Sponsors</h3>

                <div class="row">
                    <!-- Client Block -->
                    <div class="client-block col-lg-3 col-md-6 col-sm-12">
                        <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure>
                    </div>

                    <!-- Client Block -->
                    <div class="client-block col-lg-3 col-md-6 col-sm-12">
                        <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure>
                    </div>

                    <!-- Client Block -->
                    <div class="client-block col-lg-3 col-md-6 col-sm-12">
                        <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure>
                    </div>

                    <!-- Client Block -->
                    <div class="client-block col-lg-3 col-md-6 col-sm-12">
                        <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure>
                    </div>
                </div>
            </div>

            <div class="sponsors-outer">
                <h3>Silver Sponsors</h3>

                <div class="row">
                    <!-- Client Block -->
                    <div class="client-block col-lg-3 col-md-6 col-sm-12">
                        <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure>
                    </div>

                    <!-- Client Block -->
                    <div class="client-block col-lg-3 col-md-6 col-sm-12">
                        <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure>
                    </div>

                    <!-- Client Block -->
                    <div class="client-block col-lg-3 col-md-6 col-sm-12">
                        <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure>
                    </div>

                    <!-- Client Block -->
                    <div class="client-block col-lg-3 col-md-6 col-sm-12">
                        <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Clients Section-->

    <!-- Register Section -->
    <section class="register-section">
        <div class="auto-container">
            <div class="anim-icons full-width">
                <span class="icon icon-circle-3 wow zoomIn"></span>
            </div>
            <div class="outer-box">
                <div class="row no-gutters">
                    <div class="title-column col-lg-4 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="sec-title light">
                                <div class="icon-box"><span class="icon flaticon-rocket-ship"></span></div>
                                <h2>REGISTER NOW</h2>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et dolore magna.</div>
                            </div>
                        </div>
                    </div>
                    <!--Register Form-->
                    <div class="register-form col-lg-8 col-md-6 col-sm-12">
                        <div class="form-inner">
                            <form method="post" action="https://expert-themes.com/html/eventrox/contact.html">
                                <div class="form-group">
                                    <span class="icon fa fa-user"></span>
                                    <input type="text" name="username" placeholder="Full name" required="">
                                </div>

                                <div class="form-group">
                                    <span class="icon fa fa-envelope"></span>
                                    <input type="email" name="email" value="" placeholder="Email address" required>
                                </div>

                                <div class="form-group">
                                    <span class="icon fa fa-phone"></span>
                                    <input type="text" name="phone" placeholder="Phone" required="">
                                </div>

                                <div class="form-group">
                                    <span class="icon fa fa-edit"></span>
                                    <textarea name="message" placeholder="Additional Message"></textarea>
                                </div>

                                <div class="form-group text-right">
                                    <button type="submit" class="theme-btn btn-style-four"><span class="btn-title">Register Now</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Register Section -->



{%  endblock %}
