.video-translate{
    background: url(../images/TwitchBack.jpg) no-repeat center;
    height: 750px;
    padding-top: 120px;
}
.coming-soon-section{
    position: absolute;
    left: 0;
    right: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #009ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #009ccc;
}

h4 > a{
  font: 17px  'Ubuntu', sans-serif;
    font-weight: 500;
}
