.video-translate{
    background: url(../images/TwitchBack.jpg) no-repeat center;
    height: 750px;
    padding-top: 120px;
}
.coming-soon-section{
    position: absolute;
    left: 0;
    right: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #009ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #009ccc;
}

h4 > a{
    font: 17px  'Ubuntu', sans-serif;
    font-weight: 500;
}

.owl-nav{
    display: flex;
    justify-content: space-between;
}

.owl-dots{
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
}
.owl-prev, .owl-next{
    z-index: 10;

}

.owl-theme .owl-nav [class*=owl-]{
    background: transparent !important;
}

.owl-theme .owl-nav [class*=owl-]:hover{
    background: #009ccc;
}


.owl-theme .owl-dots .owl-dot span {
    background: #4dd5f3;
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
    background: #009ccc;
}

.map{
    margin-bottom: 25px;
}


@media only screen and (max-width: 599px){
    .faq-section, .sec-title{
        margin-top: 30px;
    }
    .tab-buttons{
        display: flex;
        flex-wrap: wrap;
    }
    .event-info-tabs .tab-btn{
        flex-basis: 50%;
        text-align: center;
        flex-grow: 1;
        float: none;
    }
    .contact-page-section .contact-column{
        margin-bottom: 20px;
    }
    .tabs-box{
        margin-bottom: 30px;
    }
    .form-group{
        margin-bottom: 15px !important;
    }
    .form-group button{
        margin-top: 15px;
    }

    .about-section{
        padding: 150px 0 20px !important;
    }
    .faq-section, .pricing-section-three, .speakers-section-three, .about-section-two, .pricing-section-two, .speakers-section-two, .features-section, .about1,  .news-section {
        padding: 0px 0 50px !important;
    }


    .pricing-block-three .title{
        font-size: 26px !important;
    }
    .pricing-block-three .price{
        font-size: 50px !important;
    }
}

.card{
    background-color: #009ccc;
    margin-bottom: 30px;

}
.card-header {
    padding: 0;
}

.card-toggle{
    width: 100%;
    text-align: start;
    line-height: 38px;
    color: #ffffff;
}
.card-toggle:hover{
    color: #ffffff;
}
.card-body {
    background: #ffffff;
}

.btn{
    white-space: normal;
}