{% extends 'basic.html' %}
{% load static %}

{% block content %}

<!--Page Title-->
    <section class="page-title" style="background-image:url({{ curSpeaker.pageHeader.url }});">
        <div class="auto-container">
            <h1>{{curSpeaker.nickName}}</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'all_speakers' %}">Стримеры</a></li>
                <li>{{curSpeaker.name}}</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Speker Detail -->
    <section class="speaker-detail">
        <div class="auto-container">
            <div class="row">
                <div class="image-column col-lg-4 col-md-12 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="{{ curSpeaker.photo.url }}" alt=""></figure>
                        <ul class="social-icon-two social-icon-colored text-center">
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-skype"></span></a></li>
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="info-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="text-box">
                            <h3>{{curSpeaker.name}}</h3>

                            <h4>Досье</h4>
                             {{ curSpeaker.about | safe }}
                              <h4>Стримит</h4>
                             {{ curSpeaker.about | safe }}
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Speker Detail -->


    <!-- Pricing Section -->
    <section id="buy_ticket" class="pricing-section-three">
        <div class="anim-icons">
            <span class="icon icon-line-1 wow zoomIn"></span>
            <span class="icon icon-circle-1 wow zoomIn"></span>
            <span class="icon icon-dots wow zoomIn"></span>
        </div>

        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="title">Get Ticket</span>
                <h2>Choose a Ticket</h2>
            </div>

            <div class="outer-box">
                <div class="row">
                    <!-- Pricing Block -->
                    <div class="pricing-block-three col-lg-4 offset-2 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="title">Parson</div>
                            <h4 class="price">$19</h4>
                            <ul class="features">
                                <li>01 Conference Tickets</li>
                                <li>Free Lunch And Coffee</li>
                                <li>Certificate</li>
                            </ul>
                            <div class="btn-box">
                                <a href="buy-ticket.html" class="theme-btn btn-style-one"><span class="btn-title">BUY Ticket</span></a>
                            </div>
                        </div>
                    </div>

                    <!-- Pricing Block -->
                    <div class="pricing-block-three col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                        <div class="inner-box">
                            <div class="title">Family</div>
                            <h4 class="price">$59</h4>
                            <ul class="features">
                                <li>05 Conference Tickets</li>
                                <li>Free Lunch And Coffee</li>
                                <li>Certificate</li>
                            </ul>
                            <div class="btn-box">
                                <a href="buy-ticket.html" class="theme-btn btn-style-one"><span class="btn-title">BUY Ticket</span></a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--End Pricing Section -->



{%  endblock %}



