{% extends 'basic.html' %}
{% load static %}

{% block content %}
  <section style="margin-bottom: 40px">
        <div class="lgx-banner lgx-banner-inner"  style="background-image:url({{ curSpeaker.pageHeader.url }});">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">{{curSpeaker.nickName}}</h2>
                                    <p style="color: white">{{curSpeaker.name}}</p>
                                </div>
{#                                <ul class="breadcrumb">#}
{#                                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Главная</a></li>#}
{#                                    <li class="active">Как добраться</li>#}
{#                                </ul>#}
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>

    <!-- Speker Detail -->
    <section style="margin-bottom: 40px" class="speaker-detail">
        <div class="container">
            <div class="row">
                <div class="image-column col-lg-4 col-md-12 col-sm-12">
                    <div class="image-box">
                        <figure style="margin-bottom: 20px" class="image"><img src="{{ curSpeaker.photo.url }}" alt=""></figure>
                    <div class="lgx-share">
                                                <ul class="list-inline lgx-social">
                                                    {% if curSpeaker.linkVK %}
                                <li><a href="{{ curSpeaker.linkVK }}"><span class="fa fa-vk"></span></a></li>
                            {% endif %}
                            {% if curSpeaker.linkTW %}
                                <li><a href="{{ curSpeaker.linkTW }}"><span class="fa fa-twitch"></span></a></li>
                            {% endif %}
                            {% if curSpeaker.linkYT %}
                                <li><a href="{{ curSpeaker.linkYT }}"><span class="fa fa-youtube"></span></a></li>
                            {% endif %}
                            {% if curSpeaker.linkIN %}
                                <li><a href="{{curSpeaker.linkIN}}"><span class="fa fa-instagram"></span></a></li>
                            {% endif %}
                                                </ul>
                                            </div>

                    </div>
                </div>

                <div class="info-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="text-box">
                            <h3 style="margin-bottom: 35px">{{curSpeaker.name}}</h3>

                            {#                            <h4>Досье</h4>#}
                            {{ curSpeaker.about | safe }}
                            <h4>Стримит</h4>
                            {{ curSpeaker.streaming | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Speker Detail -->



 <section>
        <div id="buy_ticket" class="lgx-registration lgx-registration4"> <!--lgx-registration2 lgx-registration3 lgx-registration4-->
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-9 col-xs-offset-1">
                            <div class="lgx-registration-area lgx-registration-area-nogap lgx-registration-area3"> <!-- lgx-registration-area-nogap lgx-registration-area2 lgx-registration-area3 -->
                                <div class="lgx-single-registration">
                                    <div class="lgx-single-registration-inner">
                                        <div class="single-top">
                                            <h3 class="title">1 день</h3>
                                            <h4 style="font-size: 50px" class="price">1300 <i>P</i></h4>
                                        </div>
                                        <div class="single-bottom">
                                            <ul class="list-unstyled list">
                                                  <li>25 или 26 апреля</li>
                                                    <li>Все стенды</li>
                                                    <li>Хайп, веселье и конкурсы</li>
                                                    <li>Два дня</li>
                                            </ul>

                                              <a href="{% url 'order' oneDayTicket_slug %}" class="lgx-btn"><span>Купить билет</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="lgx-single-registration recommended">
                                    <div class="lgx-single-registration-inner">
                                        <div class="single-top">
                                            <h3 class="title">2 дня</h3>
                                            <h4 style="font-size: 50px" class="price">2100 <i>Р</i></h4>
                                        </div>
                                        <div class="single-bottom">
                                            <ul class="list-unstyled list">
                                                <li>В 2 раза больше веселья</li>
                                                <li>Все стенды</li>
                                                <li>Хайп, веселье и конкурсы</li>
                                                <li>Два дня</li>
                                            </ul>
                                              <a href="{% url 'order' twoDayTicket_slug %}" class="lgx-btn"><span >Купить билет</span></a>
                                        </div>
                                    </div>
                                </div>
{#
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>


{%  endblock %}



