{% load static %}
<!-- Main Footer -->
<footer class="main-footer">
    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <!--Footer Column-->
                        <div class="footer-column col-xl-7 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget about-widget">

                                <div class="text">
                                    <p>Стримеры — сила! Старые медиа уходят или видоизменяются. Новым — порой достаточно веб-камеры. 200 млн человек в мире регулярно смотрят Twitch, YouTube, Goodgame и другие стрим-сервисы. Из них 6 млн — в России. Стримфест — это точка входа в новую реальность. Ждем вас в апреле 2020 года в Технопарке «Сколково»!</p>
                                </div>
                                <ul class="social-icon-one social-icon-colored">
                                    <li><a href="https://vk.com/streamfest"><i class="fab fa-vk"></i></a></li>
                                    <li><a href="https://www.instagram.com/streamfestmoscow/"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.facebook.com/streamfestmoscow"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="https://telegram.me/streamfestmoscow"><i class="fab fa-telegram"></i></a></li>
                                    <li><a href="https://twitter.com/streamfest_2018"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-5 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget useful-links">
                                <h2 class="widget-title">Ссылки</h2>
                                <ul class="user-links">
                                    <li ><a href="/">Главная</a>

                                    </li>
                                    <li class=""><a href="about-us.html">Активности</a>

                                    </li>
                                    <li class=""><a href="{% url 'all_speakers' %}">Участники</a>

                                    </li>
                                    <li class=""><a href="{% url 'faq' %}">FAQ</a>

                                    </li>

                                    <li><a href="{% url 'contacts' %}">Как добраться</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <!--Footer Column-->
                            <div class="footer-widget contact-widget">
                                <h2 class="widget-title">Контакты</h2>
                                <!--Footer Column-->
                                <div class="widget-content">
                                    <ul class="contact-list">
                                        <li>
                                            <span class="icon fa fa-map-marker-alt"></span>
                                            <div class="text">Москва, Большой бульвар, д. 42, стр. 1</div>
                                        </li>

                                        <li>
                                            <span class="icon fa fa-envelope"></span>
                                            <div class="text"><a href="mailto:mike@streamfest.ru">mike@streamfest.ru</a></div>
                                        </li>

                                        <li>
                                            <span class="icon fa fa-envelope"></span>
                                             <div class="text"><a href="mailto:alyona@streamfest.ru">alyona@streamfest.ru</a></div>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <!--Footer Column-->
                            <div class="footer-widget instagram-widget">
                                <h2 class="widget-title">Наш Instagram</h2>
                                <div class="widget-content">
                                    <div class="outer clearfix">
                                        <figure class="image">
                                            <a href="{% static 'images/insta/1.jpg' %}" class="lightbox-image" title="Image Title Here"><img src="{% static 'images/insta/1.jpg' %}" alt=""></a>
                                        </figure>

                                        <figure class="image">
                                            <a href="{% static 'images/insta/2.jpg' %}" class="lightbox-image" title="Image Title Here"><img src="{% static 'images/insta/2.jpg' %}" alt=""></a>
                                        </figure>

                                        <figure class="image">
                                            <a href="{% static 'images/insta/3.jpg' %}" class="lightbox-image" title="Image Title Here"><img src="{% static 'images/insta/3.jpg' %}" alt=""></a>
                                        </figure>

                                        <figure class="image">
                                            <a href="{% static 'images/insta/4.jpg' %}" class="lightbox-image" title="Image Title Here"><img src="{% static 'images/insta/4.jpg' %}" alt=""></a>
                                        </figure>

                                        <figure class="image">
                                            <a href="{% static 'images/insta/5.jpg' %}" class="lightbox-image" title="Image Title Here"><img src="{% static 'images/insta/5.jpg' %}" alt=""></a>
                                        </figure>

                                        <figure class="image">
                                            <a href="{% static 'images/insta/6.jpg' %}" class="lightbox-image" title="Image Title Here"><img src="{% static 'images/insta/6.jpg' %}" alt=""></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="copyright-text">
                    <p>© 2020. Все права защищены.</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162%22%3E"></script>


<div id="vk_community_messages"></div>
<script>
var widget =VK.Widgets.CommunityMessages("vk_community_messages", 122887579, {expanded: "0",
        tooltipButtonText: "Я отвечалка на вопросы, ткни меня!",
    welcomeScreen: 1});

</script>
</footer>
<!-- End Footer -->
