{% load static %}
<span class="header-span"></span>
<header class="main-header {% if not indexactive %}header-style-two{% endif %}">
    <div class="main-box">
        <div class="auto-container clearfix">
            <div class="logo-box">
                <div class="logo"><a href="/"><img style="height: 50px" {% if not indexactive %} src="{% static 'images/ru_1.png' %}" {% else %}src="{% static 'images/ru.png' %}" {% endif %} alt="" title=""></a></div>
            </div>
            <div class="nav-outer clearfix">

                <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span> </div>
                  <div style="margin-right: 20px;" class="mobile-nav-cart" onclick="javascript: void(0)"><a href="#buy_ticket"><span class="icon flaticon-shopping-cart"></span></a> </div>
                <nav class="main-menu navbar-expand-md navbar-light">
                    <div class="navbar-header">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon flaticon-menu-button"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                            <li class="{{ indexactive }} "><a href="/">Главная</a></li>
                            <li class="{{ activityactive }}"><a href="{% url 'about' %}">Активности</a></li>
                            <li class="{{ streamersactive }}"><a href="{% url 'all_speakers' %}">Участники</a></li>
                            <li class="{{ faqactive }}"><a href="{% url 'faq' %}">FAQ</a></li>
                            <li class="{{ contactactive }}"><a href="{% url 'contacts' %}">Как добраться</a></li>

                        </ul>
                    </div>
                </nav>
                <div class="outer-box">
                    <div class="btn-box">
                        <a href="#buy_ticket" class="theme-btn btn-style-one"><span class="btn-title">Купить билеты</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>
        <nav class="menu-box">
            <div class="nav-logo"><a href="/"><img src="{% static 'images/ru_1.png' %}" alt="" title=""></a></div>
            <a style="    margin: 0 auto;
    display: block;
    max-width: 320px;
    margin-bottom: 20px;" href="#buy_ticket" class="theme-btn btn-style-one" onclick="closeMenu()"><span class="btn-title">Купить билеты</span></a>
            <ul class="navigation clearfix"></ul>
        </nav>
    </div>
</header>

